<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.png') }}">
    <title>Ebook Image Extractor</title>
</head>
<body>
    <h1 class="has-text-success">E-book Image Extractor</h1>
</body>
</html>